<p><%= link_to 'Back', admin_glossary_terms_path %></p>

<% form_for(['admin', @glossary_term]) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => "term_fields", :locals => { :f => f } %>
  <p>
    <%= f.submit 'Create', :class => :btn %>
  </p>
<% end %>