* {
	margin: 0;
}
body{
	text-align:center;
}
html, body {
	height: 100%;
	background:#fffeec url(/images/bg-grad-top.gif) repeat-x;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
	text-align: center;
	background:url(/images/bg-white-bordered.gif) 50% repeat-y;
}

#branding, #canvas{
	width:900px;
	margin:auto;
	text-align: left;
}

#content{
	margin:25px 50px;
}

#footer, #push {
	clear:both;
	height: 40px; /* .push must be the same height as .footer */
}

#content-main, #side-bar{
	margin:25px 0;
}
#content-main{
	float:left;
	width:525px;	
}
#side-bar{
	width:250px;
	float:right;
	border-left:1px solid #e1e1e1;
}
#side-bar div{
	margin:0 0 25px  25px;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/