.nav{
	text-align:center;
	height:2.5em;
	width:100%;	
}
.nav ul{
	width:900px;
	margin:auto;
	text-align:left;	
}
.nav li{
	float:left;
}

.nav li a{
	color:white;
	float:left;
	display:block;
	padding:0 25px;	
	text-transform:uppercase;
	height:2.5em;
	line-height:2.5em;
}

.nav li a:hover{
	border-width:0;
	text-decoration:underline;
}

.nav li.first a{
	margin:0 25px;
}
.nav li.last a{
	margin:0
}

#nav-main{
	background-color:#336e00;
}

#nav-main li a:hover, #nav-main li.current a{
	background-color:#fffeec;
	color:#343232;
}

#nav-sub{
	background-color:#fffeec;
}

#nav-sub li a{
		color:#a21b05;
}
#nav-sub li a:hover, #nav-sub li.current a{
	background-color:#fff;
	color:#343232;
}
