#admin table th,#admin table td{
	border:1px solid #e1e1e1;
}

#admin th{
	padding:2px 8px;
	background-color:#671204;
	color:#fff;
	font-weight:normal;
}

#admin td{
	padding:5px;
}

#admin tr.odd td{
	background-color:#e1e1e1;
}
