<h1>New CMS Page</h1>
<%= link_to 'Back', cms_pages_path %>

<% form_for(:cms_page,@cms_page, :url => {:action => :create}) do |f| %>

<%= render :partial => "cms_page_fields", :locals => {:f => f} %>

    <%= f.submit 'Create' %>
  
<% end %>
