<% @cms_page.title = "New project" %>

<p><%= link_to 'Back', admin_projects_path %></p>

<% form_for ['admin', @project], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
	<%= render :partial => 'project_fields', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

