<h1 id="employment-history">Employment History</h1>
<p>Much of my work over the last 5 years has been project work and is listed <%= link_to "in the projects section", '/projects' %>.</p>
<%= render :partial => 'admin/employers/employer', :collection => @employers %>