<ul>
<li>Dinshaw C. Gobhai</li>
<li>531 West 48th Street, Apt. 1</li>
<li>New York, NY 10036</li>
</ul>

<ul>
<li>a. 646.239.8325</li>
<li>b. 646.652.6658</li>
<li><%= mail_to "info@dinshawdesign.com", "info@dinshawdesign.com ", :encode => "javascript" %></li>
</ul>

<ul>
<li>Skype: dinshawg</li>
<li>AIM: gobyrock</li>
</ul>